* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../img/epiblack.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #222222;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.144);
    border-radius: 8px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3b3b3b;
    border-radius: 8px;
    margin-bottom: 20px;
}

.cart-item img {
    width: 80px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

.cart-details {
    flex: 1;
    margin-left: 20px;
}

.cart-details h3 {
    font-size: 18px;
}

.cart-details p {
    font-size: 14px;
    color: #dddcdc;
    font-weight: lighter;
}

.quantity {
    font-size: 16px;
    color: #0f0;
    margin: 5px;
}

.price {
    font-size: 18px;
    color: rgb(8, 230, 8);
    font-weight: bold;
    margin: 10px;
}

.remove-btn {
    background-color: rgb(206, 17, 17);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: rgb(143, 14, 14);
}

.summary {
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

.summary p {
    font-size: 18px;
    margin-bottom: 10px;
}

.summary .total {
    font-size: 24px;
    font-weight: bold;
}

.summary .discount-price {
    color: #0f0;
    font-size: 20px;
}

.checkout-btn {
    display: block;
    width: 400px;
    margin: auto;
    padding: 15px;
    background-color: rgb(8, 165, 8);
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.checkout-btn:hover {
    background-color: rgb(8, 85, 8);
}

/* Responsivo */
@media (max-width: 600px) {
    .cart-item {
        flex-direction: column;
        text-align: center;
    }
    .cart-details {
        margin-left: 0;
    }
    .summary .total,
    .summary .discount-price {
        font-size: 18px;
    }
    .checkout-btn {
        font-size: 16px;
        width: 200px;
    }
}
