<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/carrinho.style/styles.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Carrinho de Compras</title>
  <script src="../js/models/carrinho.js"></script>
</head>
<body>
  <header>
    <span>Carriola de compras da <b>Lider</b></span>
  </header>

  <main>
    <div class="page-title">Sua carriola</div>
    <div class="content">
      <section>
        <table>
          <thead>
            <tr>
              <th>Produto</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Total</th>
              <th>-</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <div class="product">
                  <img src="https://picsum.photos/100/120" alt="">
                  <div class="info">
                    <div class="name">Nome do produto</div>
                    <div class="category">Categoria</div>
                  </div>
                </div>
              </td>
              <td>R$ 120</td>
              <td>
                <div class="qty">
                  <button><i class='bx bx-minus'></i></button>
                  <span>2</span>
                  <button><i class='bx bx-plus'></i></button>
                </div>
              </td>
              <td>R$ 240</td>
              <td>
                <button class="remove"><i class='bx bx-x'></i></button>
              </td>
            </tr>
            
            <tr>
              <td>
                <div class="product">
                  <img src="https://picsum.photos/100/120" alt="">
                  <div class="info">
                    <div class="name">Nome do produto</div>
                    <div class="category">Categoria</div>
                  </div>
                </div>
              </td>
              <td>R$ 120</td>
              <td>
                <div class="qty">
                  <button><i class='bx bx-minus'></i></button>
                  <span>2</span>
                  <button><i class='bx bx-plus'></i></button>
                </div>
              </td>
              <td>R$ 240</td>
              <td>
                <button class="remove"><i class='bx bx-x'></i></button>
              </td>
            </tr> 

            <tr>
              <td>
                <div class="product">
                  <img src="https://picsum.photos/100/120" alt="">
                  <div class="info">
                    <div class="name">Nome do produto</div>
                    <div class="category">Categoria</div>
                  </div>
                </div>
              </td>
              <td>R$ 120</td>
              <td>
                <div class="qty">
                  <button><i class='bx bx-minus'></i></button>
                  <span>2</span>
                  <button><i class='bx bx-plus'></i></button>
                </div>
              </td>
              <td>R$ 240</td>
              <td>
                <button class="remove"><i class='bx bx-x'></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <aside>
        <div class="box">
          <header>Resumo da compra</header>
          <div class="info">
            <div>
              <span>Sub-total</span><span>R$ 418</span>
            </div>
          </div>
          <footer>
            <span>Total</span>
            <span>R$ 418</span>
          </footer>
        </div>
       <button><a href="https://web.whatsapp.com/">Finalizar compras</a></button>
       <br>
       <button2><a href="../templates/protudos.html">Continuar comprando</a></button2>
      </aside>
    </div>
  </main>
  <footer class="footer">
    <div class="containerr">
        <div class="row">
            <div class="footer-col">
                <h4>Sobre</h4>
                <ul>
                    <li><a href="./sobre.html">Quem somos</a></li>
                    <li><a href="./protudos.html">Nossos serviços</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Programa de Afiliados</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Preciso de ajuda</h4>
                <ul>
                    <li><a href="/templates/index.html">Início</a></li>
                    <li><a href="/templates/protudos.html">Produtos</a></li>
                    <li><a href="/templates/sobre.html">Sobre</a></li>
                    <li><a href="/templates/contato.html">Fale Conosco</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Acompanhe - nos</h4>
                <div class="social-links">
                    <a href="mailto:lidereq@hotmail.com" target="_blank"><img src="../img/imglogos/footer1.png" alt="icone email " height="30px" width="30px"></a>
                    <a href="https://www.instagram.com/liderepisferramentas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img src="/img/imglogos/footer3.png" alt="icone instagram" height="30px" width="30px"></a>
                    <a href="https://www.facebook.com/liderequipamentos6304" target="_blank"><img src="/img/imglogos/footer2.png" alt="icone facebook" height="30px" width="30px" ></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>