<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detalhe.css">
    <title>Detalhes do Produto</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
                <li><a href="../templates/contato.html"><img src="../img/carrinho-carrinho.png" alt=""></a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <div class="product-container">
        <div class="product-gallery">
            <img src="../img/imgprodutos/Fotoproduto1.webp" alt="Produto" class="main-image">
            <div class="thumbs">
                <img src="../img/imgdetalhes/produto1foto2.jpg" alt="Produto 1">
                <img src="../img/imgdetalhes/produto1foto3.webp" alt="Produto 2">
                <img src="../img/imgdetalhes/produto1foto2.jpg" alt="Produto 3">
            </div>
        </div>

        <div class="product-details">
            <h2>Furadeira Parafusadeira De Impacto Bateria 18v Wesco Ws2319</h2>
            <h3 class="mais-detalhes">Furadeira Parafusadeira de Impacto 1/2" Bateria 18V Wesco WS2319 - 01 Bateria 18V 2.0Ah + Carregador Rápido Bivolt - Motor Brushless
            </h3>
            <li>
                Modelo: WS2319
            </li>
            <li>
                Marca: Wesco
            </li>
            <li>
                Alimentação: Bateria 18V Wesco
            </li>
            <li>
                Tensão: 18V
            </li>
            <li>
                Rotação: 0 - 500 / 0 - 2000 RPM
            </li>
            <li>
                Impacto: 0 - 9600 / 0 - 32000 IPM
            </li>
            <li>
                Torque: 60Nm
            </li>
            <li>
                Capacidade: 40mm em madeira; 13mm em metal; 16mm em alvenaria;
            </li>
            <li>
                Características: Motor sem escovas
            </li>
            <li>
                Itens que Acompanham: 01 bateria 18V 2.0Ah; 01 Carregador Bivolt Rápido; 01 clip para cinto
            </li>
            <li>
                Garantia direto com o Fabricante: 1 Ano (12 meses)
            </li>
            <li>
                Garantia: 1 ano de garantia direto com o fabricante
            </li>
            <p class="preço">R$ 1.074,90</p>
            <p class="parcelas">Até 12x R$104,21</p>

            <div class="quantidade">
                <label for="quantity">Quantidade:</label>
                <input type="number" id="quantity" value="1" min="1">
            </div>
            
            <button class="whatsapp-btn">
                <a href="https://wa.me/5511999999999?text=Olá!%20Gostaria%20de%20comprar%20este%20produto." target="_blank" style="color: white; text-decoration: none;">Comprar pelo WhatsApp</a>
            </button>
    </div>

    <script src="../js/detalhe.js"></script>
</body>
</html>
