<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detalhe.css">
    <link rel="shortcut icon" href="../img/imglogos/icone2 (2).png" type="image/x-icon">
    <title>Detalhes do Produto</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px">
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <a href="../templates/carrinho.html" class="cart-icon" target="_blank">
            <img src="../img/imglogos/carrao.png" alt="carrinho">
        </a>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <div class="product-container" id="product-inspect">
    </div>
    
    <div class="green" style="background-color: rgb(6, 177, 29);">.</div>
    <br>
    <br>
    <br>
    <div class="descrição">

        <section id="products-descricao">
            <!--<br>
            <br>
            <h1 class="TextoInfo">Informações Adicionais</h1>
            <table>
                <tr>
                    <td class="left">Marca:</td>
                    <td>Wesco</td>
                </tr>
                <tr>
                    <td class="left">Modelo:</td>
                    <td>GSR 120-LI</td>
                </tr>
                <tr>
                    <td class="left">Recursos:</td>
                    <td> 
                        2 velocidades mecânicas<br>
                        Luz LED integrada para trabalhos em áreas com pouca iluminação<br>
                        Design compacto e ergonômico<br>
                        Controle de torque com 20+1 níveis
                    </td>
                </tr>
                <tr>
                    <td class="left">Tipo de Motor:</td>
                    <td>Brushless (sem escovas)</td>
                </tr>
                <tr>
                    <td class="left">Velocidade:</td>
                    <td>0-400 RPM (baixa) / 0-1500 RPM (alta)</td>
                </tr>
                <tr>
                    <td class="left">Torque Máximo:</td>
                    <td>30 Nm</td>
                </tr>
                <tr>
                    <td class="left">Capacidade de Perfuração:</td>
                    <td> 
                        Madeira: até 20 mm<br>
                        Metal: até 10 mm
                    </td>
                </tr>
                <tr>
                    <td class="left">Peso:</td>
                    <td>1,2 kg (com bateria)</td>
                </tr>
                <tr>
                    <td class="left">Requisitos de Alimentação:</td>
                    <td>Bateria de lítio 12V</td>
                </tr>
                <tr>
                    <td class="left">Dimensões:</td>
                    <td>
                        Altura: 19 cm<br>
                        Largura: 7,5 cm<br>
                        Comprimento: 21 cm
                    </td>
                </tr>
                <tr>
                    <td class="left">Conteúdo da Embalagem:</td>
                    <td>
                        Furadeira/parafusadeira Wesco GSR 120-LI<br>
                        2 baterias de lítio 12V<br>
                        Carregador rápido<br>
                        Maleta de transporte<br>
                        Documentação do usuário
                    </td>
                </tr>
            </table>-->
        </section>
    </div>

    <script src="../js/detalhe.js"></script>
</body>
</html>
