<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detalhe.css">
    <link rel="shortcut icon" href="../img/imglogos/icone2 (2).png" type="image/x-icon">
    <title>Detalhes do Produto</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <a href="../templates/carrinho.html" class="cart-icon" target="_blank">
            <img src="../img/imglogos/carrao.png" alt="carrinho">
        </a>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <div class="product-container">
        <div class="product-gallery">
            <img src="../img/imgprodutos/Fotoproduto1.webp" alt="Produto" class="main-image">
            <div class="thumbs">
                <img src="../img/imgdetalhes/produto1foto2.jpg" alt="Produto 1">
                <img src="../img/imgdetalhes/produto1foto3.webp" alt="Produto 2">
                <img src="../img/imgdetalhes/produto1foto2.jpg" alt="Produto 3">
            </div>
        </div>

        <div class="product-details">
            <h2>Furadeira Parafusadeira De Impacto Bateria 18v Wesco Ws2319</h2>
            <h3 class="mais-detalhes">Furadeira Parafusadeira de Impacto 1/2" Bateria 18V Wesco WS2319 - 01 Bateria 18V 2.0Ah + Carregador Rápido Bivolt - Motor Brushless
            </h3>
             <hr style="margin-bottom: 40px;">
             <p class="vista">À vista</p>
            <p class="preço">R$ 1.074,90</p>
            <p class="parcelas">No pix com 15% de desconto</p>
            <br>
            <hr class="hr2" style="width: 50px;">
            <br>
            <p class="cartao">Cartão</p>
            <p class="preçoC">R$ 1.374,90</p>
            <p class="parcelas">No cartão até em 12x no cartão <br><h5>sem juros no cartão</h5></p>
            <button class="whatsapp-btn">
                <a href="https://wa.me/5511999999999?text=Olá!%20Gostaria%20de%20comprar%20este%20produto." target="_blank" style="color: white; text-decoration: none;">Adicionar a Carriola</a>
            </button>
        </div>
    </div>


    <div class="descrição">
        <section>
            <h1 class="TextoInfo">Informações Adicionais</h1>
            <img src="../img/homemnotelefone-removebg-preview.png" alt="">
        </section>
    </div>

    <script src="../js/detalhe.js"></script>
</body>
</html>
