<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Líder Equipamentos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/imglogos/icone2 (2).png" type="image/x-icon">
</head>
<body>
    <!--Cabeçario-->
    <header class="header">
        <div class="logo">
            <img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px">
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <a href="../templates/carrinho.html" class="cart-icon" target="_blank">
            <img src="../img/imglogos/carrao.png" alt="carrinho">
        </a>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <!--Carrosel-->
    <main class="carousel">
        <button class="carousel-button prev" aria-label="Previous slide">❮</button>
        <section class="carousel-slide current">
            <img src="../img/imgcarrosel/ferramenta 1.png" alt="Imagem 1">
            <div class="image-text">
                <h1><strong>Qualidade em cada <br></strong>ferramenta</h1>
            </div>
        </section>
        <section class="carousel-slide">
            <img src="../img/imgcarrosel/ferramenta 5.jpg" alt="Imagem 2">
            <div class="image-text">
                <h1><strong>Ferramentas que você pode</strong> <br> confiar</h1>
            </div>
        </section>
        <section class="carousel-slide">
            <img src="../img/imgcarrosel/ferramenta 4.jpg" alt="Imagem 3">
            <div class="image-text"><h1><strong>Seu trabalho nosso</strong> <br>equipamento</h1></div>
        </section>
        <section class="carousel-slide">
            <img src="../img/imgcarrosel/ferramenta 3.jpg" alt="Imagem 4">
            <div class="image-text">
                <h1><strong>A solução certa para todo</strong> <br> desafio</h1>
            </div>
        </section>
        <button class="carousel-button next" aria-label="Next slide">❯</button>
        <div class="frase"></div>
        </main>
        <!--faixa apos carrosel-->
        <section id="faixa-logos">
            <div class="logos-container">
                <img src="../img/imglogos/booxer.png" alt="Logo 1">
                <img src="../img/imglogos/WEscomnj.png" alt="Logo 2">
                <img src="../img/imglogos/kress2.png" alt="Logo 3">
            </div>
        </section>
        
         <!-- Botao de voltar ao topo -->
    <button onclick="voltarAoTopo()" id="topoButton">Voltar ao Topo</button>

        <!--Protudos-->
        <h1 class="frase-prod" style="text-align: center; margin-top: 150px; font-size: 40px; ">Destaques</h1>
        <section class="products">
            <!-- Produto 1 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/imgprodutos/Fotoproduto1.webp" alt="Produto 1"> 
                </div>
                <div class="product-details">
                    <h3 class="product-title">Parafusadeira De Impacto Bateria 18v Wesco Ws2319</h3>
                    <p class="product-price">R$ 1.074,90</p>
                 <a href="detalhe.html"><button class="add-to-cart">Comprar</button> </a> 
                </div>
            </div>
            <!-- Produto 2 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/imgprodutos/Fotoproduto2.webp" alt="Produto 2"> 
                </div>
                <div class="product-details">
                    <h3 class="product-title">Furadeira Impacto Wesco 3/8 Carregador Bivolt</h3>
                    <p class="product-price">R$ 483,90</p>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>
            <!-- Produto 3 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/imgprodutos/Fotoproduto3.webp" alt="Produto 3">  
                </div>
                <div class="product-details">
                    <h3 class="product-title">Perfurador Demolidor Sds Plus 4,5 1050w Wesco</h3>
                    <p class="product-price">R$629,90</p>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>
            <!-- Produto 4 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/imgprodutos/Fotoproduto4.webp" alt="Produto 4" > 
                </div>
                <div class="product-details">
                    <h3 class="product-title">Chave De Impacto 1/2 Brushless 18v Wesco</h3>
                    <p class="product-price">R$ 951,82</p>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>
            <!-- Produto 5 até Produto 20 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/imgprodutos/Fotoproduto5.webp" alt="Produto 5"> 
                </div>
                <div class="product-details">
                    <h3 class="product-title">Máquina solda inverter Touch 150 BV 110V/220V Profissional Boxer</h3>
                    <p class="product-price">R$ 1.010,00</p>
                    <br>    
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>
             <!-- Produto 6 até Produto 20 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/imgprodutos/Fotoproduto6.webp" alt="Produto 3">  
                </div>
                <div class="product-details">
                    <h3 class="product-title">Lixadeira profissional roto orbital Wesco WS4265 azul-turquesa 400W 220V</h3>
                    <p class="product-price">R$297,89</p>
                    <br>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>
             <!-- Produto 7 até Produto 20 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/imgprodutos/Fotoproduto2.webp" alt="Produto 3">  
                </div>
                <div class="product-details">
                    <h3 class="product-title">Máquina de solda inverter Boxer Flama 161 BV azul e preta 110V/220V </h3>
                    <p class="product-price">R$ 738,90</p>
                    <br>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>
             <!-- Produto 8 até Produto 20 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/imgprodutos/Fotoproduto8.webp" alt="Produto 3">  
                </div>
                <div class="product-details">
                    <h3 class="product-title">Luva Couro Raspa P7 Soldador Epi Cano Curto Segurança</h3>
                    <p class="product-price">R$ 10,90 </p>
                    <br>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>
            <!-- Adicione os próximos produtos aqui -->
        </section>
        <!--Mapa localização-->
            <section class="caixa-mapa">
                <section class="mapa=container">
                    <section id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2596.130445592757!2d-47.83529001172894!3d-23.04275170293759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c66bdb2d344e43%3A0xbe87bf76e91fa127!2sR.%20Domingos%20Baldini%2C%2095%20-%20Jardim%20Europa%2C%20Laranjal%20Paulista%20-%20SP%2C%2018500-000!5e0!3m2!1spt-BR!2sbr!4v1724785733245!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </section>
                </section>
                <div class="info">
                    <h1>NOSSA LOJA</h1>
                    <p class="subtitle"><a href="https://maps.app.goo.gl/9An4Jriis3zFoJKd6" target="_blank">❯ Nos leve até lá </a></p>
                <article class="icons-mapa">
                    <!-- Ícones das redes sociais -->
                    <a href="mailto:lidereq@hotmail.com" target="_blank">
                        <img src="/img/imglogos/footer1.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/liderepisferramentas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                        <img src="/img/imglogos/footer3.png" alt="Instagram">
                    </a>
                </article>
                </div>
            </section>
            
        

        <main class="hist fade-in-element">
            <div class="icone-hist fade-in-element">   
                <img src="../img/imgfotos/engrenagem.png" alt="imagem engrenagem" >
                <div class="text fade-in-element">
                    <h1>Nossa missão é facilitar o seu <h2 class="cor-text">trabalho</h2></h1>
                    <p>Do básico ao avançado, nosso catálogo atende todas as suas necessidades.</p>
                </div>
            </div>
        </main>

            <!--rodape-->
    <footer class="footer">
        <div class="containerr">
            <div class="row">
                <div class="footer-col">
                    <h4>Sobre</h4>
                    <ul>
                        <li><a href="./sobre.html">Quem somos</a></li>
                        <li><a href="./protudos.html">Nossos serviços</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Programa de Afiliados</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Preciso de ajuda</h4>
                    <ul>
                        <li><a href="../templates/index.html">Início</a></li>
                        <li><a href="../templates/protudos.html">Protudos</a></li>
                        <li><a href="../templates/sobre.html">Sobre</a></li>
                        <li><a href="../templates/contato.html">Fale Conosco</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Acompanhe - nos</h4>
                    <div class="social-links">
                        <a href="mailto:lidereq@hotmail.com" target="_blank"><img src="../img/imglogos/footer1.png" alt="icone email " height="30px" width="30px"></a>
                        <a href="https://www.instagram.com/liderepisferramentas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==
                        " target="_blank"><img src="../img/imglogos/footer3.png" alt="icone instagram" height="30px" width="30px"></a>
                        <a href=" https://www.facebook.com/liderequipamentos6304" target="_blank"><img src="../img/imglogos/footer2.png" alt="icone facebook" height="30px" width="30px"></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
           

        <script src="../js/script.js"></script>
</body>
</html>
