<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contato.css">
    <link rel="shortcut icon" href="../img/imglogos/icone2 (2).png" type="image/x-icon">
    <title>Document</title>
</head>
<body class="brigado">
    <section><img src="../img/imglogos/logo ruim.png" alt="Logo lider"></section>
    <h1 class="text">Obrigado pelo contato</h1>
    <p class="paragrafo">Em breve entrarei em contato ;  </p>
    <a href="../templates/index.html" class="btn">Inicio</a>
</body>
</html>