<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Líder Equipamentos - Produtos</title>
    <link rel="shortcut icon" href="../img/logo ruim.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/protudos.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <!-- Banner Section -->
    <section class="banner">
        <h1>Promoção Imperdível!</h1>
    </section>

    <main>

        <div class="carousel-container">
            <div class="carousel">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/img/produtos/09/foto 1.webp" alt="Produto 1">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">Máquina de solda inverter Boxer Flama 201 BV azul e preta 127/220V</h3>
                        <p class="product-price">R$ 99,99</p>
                        <button class="add-to-cart">Adicionar ao Carrinho</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/img/produtos/10/foto 1.webp" alt="Produto 2">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">Máquina de solda inverter Boxer Flama 161 BV azul e preta 110V/220V</h3>
                        <p class="product-price">R$ 149,99</p>
                        <button class="add-to-cart">Adicionar ao Carrinho</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/img/produtos/11/foto 1.webp" alt="Produto 3">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">Trena De Bolso Economic 8mt L525cme Lufkin </h3>
                        <br>
                        <p class="product-price">R$ 199,99</p>
                        <button class="add-to-cart">Adicionar ao Carrinho</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/img/produtos/12/foto 1.webp" alt="Produto 3">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">Gedore R28301200 1000V Cor Vermelho Alicate Universal 8 Pol Cromo Vanádio</h3>
                        <p class="product-price">R$ 199,99</p>
                        <button class="add-to-cart">Adicionar ao Carrinho</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/img/produtos/13/foto 1.webp" alt="Produto 3">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">Jg Chaves Torx Gedore T10 T15 T20 T25 T27 T30 T40 T45 T50</h3>
                        <br>
                        <p class="product-price">R$ 199,99</p>
                        <button class="add-to-cart">Adicionar ao Carrinho</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/img/produtos/14/foto 1.webp" alt="Produto 3">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">Lanterna Tática Holofote BMax Tocha Led P90 Muito Forte Cor da luz Branco</h3>
                        <p class="product-price">R$ 199,99</p>
                        <button class="add-to-cart">Adicionar ao Carrinho</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/img/produtos/15/foto 1.webp" alt="Produto 3">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">50 Discos De Corte 4.1/2 X 1,0mm - Tyrolit Basic 2 Em 1 Cor Cinza</h3>
                        <br>
                        <p class="product-price">R$ 199,99</p>
                        <button class="add-to-cart">Adicionar ao Carrinho</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/img/produtos/16/foto 1.webp  " alt="Produto 3">
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">Capacete De Segurança + Abafador De Ruidos Concha + Jugular</h3>
                        <p class="product-price">R$ 199,99</p>
                        <button class="add-to-cart">Adicionar ao Carrinho</button>
                    </div>
                </div>
                <!-- Adicione mais produtos aqui -->
            </div>
            <div class="carousel-controls">
                <button class="carousel-button" onclick="prevSlide()">&#10094;</button>
                <button class="carousel-button" onclick="nextSlide()">&#10095;</button>
            </div>
        </div>
    

        <section class="products">
            <!-- Produto 1 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="/img/produtos/01/foto 1.webp" alt="Produto 1">
                </div>
                <div class="product-details">
                    <h3 class="product-title">Furadeira Parafusadeira De Impacto Bateria 18v Wesco Ws2319</h3>
                    <p class="product-price">R$ 99,99</p>
                 <a href="../templates/produtoshtmls/pd1.html"><button class="add-to-cart">Adicionar ao Carrinho</button> </a> 
                </div>
            </div>

            <!-- Produto 2 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="/img/produtos/02/foto 1.webp" alt="Produto 2">
                </div>
                <div class="product-details">
                    <h3 class="product-title">Parafusadeira Furadeira Impacto Wesco 3/8 Carregador Bivolt</h3>
                    <p class="product-price">R$ 149,99</p>
                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                </div>
            </div>

            <!-- Produto 3 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="/img/produtos/03/foto 1.webp" alt="Produto 3">
                </div>
                <div class="product-details">
                    <h3 class="product-title">Esmerilhadeira Angular Corte Desbaste 900w Wesco 220v Ws4750</h3>
                    <p class="product-price">R$ 199,99</p>
                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                </div>
            </div>

            <!-- Produto 4 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="/img/produtos/04/foto 1.webp" alt="Produto 4">
                </div>
                <div class="product-details">
                    <h3 class="product-title">Esmerilhadeira Angular 230mm 9 Ws4703 220v Wesco </h3>
                    <p class="product-price">R$ 89,99</p>
                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                </div>
            </div>
            
            <!-- Produto 5 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="/img/produtos/05/foto 1.webp" alt="Produto 5">
                </div>
                <div class="product-details">
                    <h3 class="product-title">Martelete Perfurador Demolidor Sds Plus 4,5j 1050w Wesco</h3>
                    <p class="product-price">R$ 109,99</p>
                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                </div>
            </div>
            <!-- Produto 6 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="/img/produtos/06/foto 1.webp" alt="Produto 3">
                </div>
                <div class="product-details">
                    <h3 class="product-title">Chave De Impacto 1/2 Brushless 18v Bivolt Ws2382 Wesco</h3>
                    <p class="product-price">R$ 199,99</p>
                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                </div>
                  <!-- Produto 7 -->
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/img/produtos/07/foto 1.webp" alt="Produto 3">
                </div>
                <div class="product-details">
                    <h3 class="product-title">Lixadeira roto orbital Wesco Profissional WS4265 azul-turquesa</h3>
                    <p class="product-price">R$ 199,99</p>
                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                </div>
                  <!-- Produto 8 -->
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/img/produtos/08/foto 1.webp" alt="Produto 3">
                </div>
                <div class="product-details">
                    <h3 class="product-title">Máquina solda inverter Touch 150 BV Profissional Boxer</h3>
                    <p class="product-price">R$ 199,99</p>
                    <button class="add-to-cart">Adicionar ao Carrinho</button>
                </div>
            </div>

<!--body do elemento2-->

        <!-- Produto 17 -->

           <body1>
            <div class="cards-container">
                <div class="cardd">
                    <div class="cardd-content">
                        <div class="cardd-text">Botina Bota Segurança </div>
                        <h2>Elastico Bracol Usafe Uses Bico Pvc</h2>
                        <br>
                        <a href="#" class="btn">Ver Mais</a>
                    </div>
                    <div class="cardd-image" style="background-image: url('cozinha.jpg');"></div>
                </div>

         <!-- Produto 18 -->

                <div class="cardd">
                    <div class="cardd-content">
                        <div class="cardd-text">Óculos De Proteção Napoli IncolorSteelflex </div>
                        <h2>Steelflex Cor da lente Branco e incolor</h2>
                        <br>
                        <a href="#" class="btn">Ver Mais</a>
                    </div>
                    <div class="cardd-image" style="background-image: url('skincare.jpg');"></div>
                </div>

         <!-- Produto 19 -->

                <div class="cardd">
                    <div class="cardd-content">
                        <h2>Epi Cano Curto Segurança</h2>
                        <br>    
                        <div class="cardd-text">Luva Couro Raspa Epi</div>
                        <br>
                        <a href="#" class="btn">Ver Mais</a>
                    </div>
                    <div class="cardd-image" style="background-image: url('skincare.jpg');"></div>
                </div>

        <!-- Produto 20 -->

                <div class="cardd">
                    <div class="cardd-content">
                        <div class="cardd-text">Camper PFF2 kit 50 unidade</div>
                        <h2>máscara respirador com válvula</h2>
                        <br>
                        <a href="#" class="btn">Ver Mais</a>
                    </div>
                    <div class="cardd-image" style="background-image: url('ventilador.jpg');"></div>
                </div>
            </div>
           </body1> 

        </section>
    </main>
    <footer class="footer">
        <div class="containerr">
            <div class="row">
                <div class="footer-col">
                    <h4>Sobre</h4>
                    <ul>
                        <li><a href="/templates/sobre.html">Quem somos</a></li>
                        <li><a href="/templates/protudos.html">Nossos serviços</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Programa de Afiliados</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Preciso de ajuda</h4>
                    <ul>
                        <li><a href="/templates/index.html">Início</a></li>
                        <li><a href="/templates/protudos.html">Produtos</a></li>
                        <li><a href="/templates/sobre.html">Sobre</a></li>
                        <li><a href="/templates/contato.html">Fale Conosco</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Acompanhe - nos</h4>
                    <div class="social-links">
                        <a href="#"><img src="../img/imglogos/footer1.png" alt="icone " height="30px" width="30px"></a>
                        <a href="#"><img src="/img/imglogos/footer3.png" alt="icone" height="30px" width="30px"></a>
                        <a href="#"><img src="/img/imglogos/footer2.png" alt="icone" height="30px" width="30px"></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
 
    <script src="../js/produtos.js"></script>
</body>
</html>
