<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Líder Equipamentos - Produtos</title>
    <link rel="shortcut icon" href="../img/imglogos/icone2 (2).png" type="image/x-icon">
    <link rel="stylesheet" href="../css/protudos.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px">
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
                <div class="arama-kutusu">
                  
            </ul>
        </nav>
        <a href="../templates/carrinho.html" class="cart-icon" target="_blank">
            <img src="../img/imglogos/carrao.png" alt="carrinho">
        </a>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <!-- Banner -->
    <section class="banner">
        <a href="http://127.0.0.1:5502/templates/detalhe.html"><img src="../img/Black friday eletrônicos fotográfico azul preto banner para site (3).png" alt=""></a>
    </section>
    <main>
        <h1 class="h1z">Produtos</h1>
        <br>
        <!--produtos ocultos-->
        <section class="products" id="products"></section>

    <div style="height: 110px;"></div>

    <!-- Botao de voltar ao topo -->
    <button onclick="voltarAoTopo()" id="topoButton">Voltar ao Topo</button>
                
        </section>
    </main>
    <footer class="footer">
        <div class="containerr">
            <div class="row">
                <div class="footer-col">
                    <h4>Sobre</h4>
                    <ul>
                        <li><a href="./sobre.html">Quem somos</a></li>
                        <li><a href="./protudos.html">Nossos serviços</a></li>
                        <li style="color: aliceblue;"> Copyright © 2024 Lider Equipamentos. Todos os direitos reservados.</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Preciso de ajuda</h4>
                    <ul>
                        <li><a href="/templates/index.html">Início</a></li>
                        <li><a href="/templates/protudos.html">Produtos</a></li>
                        <li><a href="/templates/sobre.html">Sobre</a></li>
                        <li><a href="/templates/contato.html">Fale Conosco</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Acompanhe - nos</h4>
                    <div class="social-links">
                        <a href="mailto:lidereq@hotmail.com" target="_blank"><img src="../img/imglogos/footer1.png" alt="icone email " height="30px" width="30px"></a>
                        <a href="https://www.instagram.com/liderepisferramentas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img src="/img/imglogos/footer3.png" alt="icone instagram" height="30px" width="30px"></a>
                        <a href="https://www.facebook.com/liderequipamentos6304" target="_blank"><img src="/img/imglogos/footer2.png" alt="icone facebook" height="30px" width="30px" ></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    <script src="../js/produtos.js"></script>
</body>
</html>
