<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=111111aaaaa, initial-scale=1.0">
    <title>Líder Equipamentos</title>
    <link rel="shortcut icon" href="../img/imglogos/icone2 (2).png" type="image/x-icon">
    <link rel="stylesheet" href="../css/sobre.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <a href="../templates/carrinho.html" class="cart-icon" target="_blank">
            <img src="../img/imglogos/carrao.png" alt="carrinho">
        </a>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>
    
    <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url(../img/imgfotos/backgrond.jpg);">
                <div class="content">
                    <div class="name">Quem Somos</div>
                    <div class="des">Somos uma revendedora de ferramenta e EPI que atuamos no mercado de trabalho e buscamos expandir nosso negocio para o digital e esperamos melhorar a visibilidade.</div> 
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 2.jpg);">
                <div class="content">
                    <div class="name">Como que trabalhamos</div>
                    <div class="des">
                        Oferecemos ferramentas de alta qualidade e preços justos, incluindo opções de segunda linha com bom design e durabilidade, para atender cada cliente sem comprometer a confiança.</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 3.jpg);">
                <div class="content">
                    <div class="name">Preços Imbatíveis</div>
                    <div class="des">Aproveite nossos preços imbatíveis em ferramentas de marcas renomadas e faça suas compras com a certeza de qualidade!</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 4.jpg);">
                <div class="content">
                    <div class="name">Variedade para Todos os Projetos</div>
                    <div class="des">Transforme suas ideias em realidade com a variedade de ferramentas disponíveis, desde manuais até elétricas, temos o que você precisa!</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 5.jpg);">
                <div class="content">
                    <div class="name">Atendimento Especializado</div>
                    <div class="des">Visite nossa loja e converse com nossos especialistas, prontos para ajudar você a escolher as melhores ferramentas para o seu trabalho!</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 6.jpg);">
                <div class="content">
                    <div class="name">Alta Performance e Dicas Valiosas</div>
                    <div class="des">Ferramentas de alta performance, atendimento personalizado e dicas valiosas para os seus projetos estão esperando por você na nossa loja!</div>
                    
                </div>
            </div>
        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left">❮</i></button>
            <button class="next"><i class="fa-solid fa-arrow-right">❯</i></button>
        </div>
    </div>

   
   


    
    <script src="../js/sobre.js"></script>
</body>
</html>