<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=111111aaaaa, initial-scale=1.0">
    <title>Líder Equipamentos</title>
    <link rel="shortcut icon" href="../img/imglogos/icone2 (2).png" type="image/x-icon">
    <link rel="stylesheet" href="../css/sobre.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <a href="../templates/carrinho.html" class="cart-icon" target="_blank">
            <img src="../img/imglogos/carrao.png" alt="carrinho">
        </a>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>
    


    <div class="hist">
    <h1>Quem Nós Somos ?</h1>
        <p>Há 13 anos, começamos nossa jornada com um objetivo claro: oferecer ferramentas e equipamentos de proteção individual (EPIs) de qualidade para atender às necessidades dos profissionais que constroem, inovam e garantem a segurança no trabalho.

            Somos uma empresa de porte familiar, focada em criar relacionamentos de confiança com nossos clientes. Embora não sejamos grandes, nosso compromisso com excelência e atendimento personalizado nos tornou referência na região.
            
            Com um estoque variado de ferramentas manuais, elétricas e EPIs confiáveis, ajudamos empresas e trabalhadores a enfrentarem desafios do dia a dia com segurança e eficiência. Crescemos junto com nossos clientes, sempre priorizando a qualidade dos produtos e a proximidade com quem confia em nosso trabalho.
            
            Estamos aqui para continuar ajudando a construir histórias de sucesso com você!</p>
        <img src="../img/foto 5.jpg" alt="">
    </div>

<div class="hist2">
    <h1>Qualidade e Confiança em Cada Produto</h1>
    <p>Na nossa loja, acreditamos que a qualidade é a base de um bom trabalho. Por isso, selecionamos cuidadosamente cada produto que oferecemos, garantindo que ferramentas e EPIs atendam aos mais altos padrões de segurança, durabilidade e desempenho.

        Trabalhamos com marcas renomadas e produtos testados para oferecer soluções confiáveis, seja para pequenos reparos, grandes obras ou proteção no ambiente de trabalho. Nosso compromisso é fornecer equipamentos que não apenas cumpram suas funções, mas também tragam tranquilidade e eficiência para os nossos clientes.
        
        Sabemos que cada projeto é único, e por isso oferecemos orientações personalizadas, ajudando você a escolher as ferramentas e EPIs ideais para sua necessidade. Aqui, você encontra qualidade, confiança e a parceria de quem entende a importância de um trabalho bem feito e seguro.</p>

        <img src="../img/foto 4.jpg" alt="">
</div>

        <!--rodape-->
        <footer class="footer">
            <div class="containerr">
                <div class="row">
                    <div class="footer-col">
                        <h4>Sobre</h4>
                        <ul>
                            <li><a href="./sobre.html">Quem somos</a></li>
                            <li><a href="./protudos.html">Nossos serviços</a></li>
                            <li><a href="#">Política de Privacidade</a></li>
                            <li><a href="#">Programa de Afiliados</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Preciso de ajuda</h4>
                        <ul>
                            <li><a href="../templates/index.html">Início</a></li>
                            <li><a href="../templates/protudos.html">Protudos</a></li>
                            <li><a href="../templates/sobre.html">Sobre</a></li>
                            <li><a href="../templates/contato.html">Fale Conosco</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Acompanhe - nos</h4>
                        <div class="social-links">
                            <a href="mailto:lidereq@hotmail.com" target="_blank"><img src="../img/imglogos/footer1.png" alt="icone email " height="30px" width="30px"></a>
                            <a href="https://www.instagram.com/liderepisferramentas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==
                            " target="_blank"><img src="../img/imglogos/footer3.png" alt="icone instagram" height="30px" width="30px"></a>
                            <a href=" https://www.facebook.com/liderequipamentos6304" target="_blank"><img src="../img/imglogos/footer2.png" alt="icone facebook" height="30px" width="30px"></a>
                        </div>
                    </div>
                </div>
            </div>
       </footer>

    
    <script src="../js/sobre.js"></script>
</body>
</html>